@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
$font1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: Georgia, serif;

// = Colors
$main-color: orange;
$font-color1: white;
$font-color2: black;
$font-color3: #B0B0B0;
$font-color4: #7A7A7A;
$header-color: #F5F5F5;
$bg-color: white;
$star-color: #F2C608;



// Graphic chart



// = Grid
// -----------------------------

// Max width wrapper
$wrapper-width: pxtoem(1140, 16);